data
*.gds
*.ld
*.gz
*.RData

*.html
*.rmarkdown
*_files/
*_cache/
*.com

core.*

third_party/finemap/
third_party/liftover/
third_party/mr_mega/

scratch/in/
scratch/out/
scratch/old/results/

scratch/py*
