[submodule "third_party/fgwas"]
	path = third_party/fgwas
	url = https://github.com/joepickrell/fgwas.git
[submodule "third_party/MsCAVIAR"]
	path = third_party/MsCAVIAR
	url = https://github.com/nlapier2/MsCAVIAR.git
[submodule "third_party/PAINTOR_V3.0"]
	path = third_party/PAINTOR_V3.0
	url = https://github.com/gkichaev/PAINTOR_V3.0.git
[submodule "third_party/polyfun"]
	path = third_party/polyfun
	url = https://github.com/omerwe/polyfun.git
[submodule "third_party/SuSiEx"]
	path = third_party/SuSiEx
	url = https://github.com/getian107/SuSiEx.git
[submodule "third_party/topld_api"]
	path = third_party/topld_api
	url = https://github.com/linnabrown/topld_api.git
