data
*.vcf
*.gds
*.ld
*.gz
*.tbi
*.csi
*.RData

scratch/

quarto_output/
/.quarto/
*.html
*.rmarkdown
*_files/
*_cache/
*.com

core.*

third_party/finemap/
third_party/liftover/
third_party/mr_mega/

in/
out/
old/results/

py*/
