---
# Available fine-mapping methods:
  # paintor
  # susiex
- fm_methods:
  - paintor
  - susiex

# Some fine-mapping methods don't handle large amounts of variants well, so you may want to pre-filter by p-value.
# Other methods like SuSiE recommend NOT to do this however.
- pval_thresholds:
  - paintor: 0.01 
  - susiex: 1

# Certain fine-mapping methods have support for functional annotations built-in.
# Use this functionality? The relevant fine-mapping method will use this instead of fgwas.
# TRUE or FALSE:
- use_anno_functionality:
  - paintor: true
  - sparsepro: true
