---
# Available fine-mapping methods:
  # paintor
  # susiex
# Available modifiers:
  # p_thresh: a number between 0 and 1 (default: 1)
  # use_anno_functionality: true/false. For fine-mapping methods that can make use of annotations, (default: true if method supports it)

# Notes:
  # Some fine-mapping methods like PAINTOR don't handle thousands of variants well, so you may want to pre-filter by p-value.
  # It is NOT recommended to set a p-value threshold for SuSiEx <insert here other methods where it's not recommended>.
- pval_thresholds:
  - paintor: 0.01 
  - susiex: 1

# JOBS
- paintor:
  - p_thresh: 0.01
  - use_anno_functionality: true

- susiex:
  - p_thresh: 1
