filepath             locus             ancestry  colnames_file
GLI2_AS              GLI2              EAS       NULL
IRS1_AS              IRS1              EAS       NULL
GCKR_AS              GCKR              EAS       NULL
CDC123-CAMK1D_AS     CDC123-CAMK1D     EAS       NULL
CDKAL1_AS            CDKAL1            EAS       NULL
SH2B3-ALDH2-BRAP_AS  SH2B3-ALDH2-BRAP  EAS       NULL
PTPN11-HECTD4_AS     PTPN11-HECTD4     EAS       NULL
ZNF257_AS            ZNF257            EAS       NULL
FAM60A_AS            FAM60A            EAS       NULL
GCC1-PAX4-LEP_AS     GCC1-PAX4-LEP     EAS       NULL
TCF7L2_AS            TCF7L2            EAS       NULL
GLI2_EU              GLI2              EUR       NULL
IRS1_EU              IRS1              EUR       NULL
GCKR_EU              GCKR              EUR       NULL
CDC123-CAMK1D_EU     CDC123-CAMK1D     EUR       NULL
CDKAL1_EU            CDKAL1            EUR       NULL
SH2B3-ALDH2-BRAP_EU  SH2B3-ALDH2-BRAP  EUR       NULL
PTPN11-HECTD4_EU     PTPN11-HECTD4     EUR       NULL
ZNF257_EU            ZNF257            EUR       NULL
FAM60A_EU            FAM60A            EUR       NULL
GCC1-PAX4-LEP_EU     GCC1-PAX4-LEP     EUR       NULL
TCF7L2_EU            TCF7L2            EUR       NULL
