---
# Examples: "/tmp", "/scratch", Sys.getenv("SCRATCH")
- scratch_dir: "scratch/"

- maf_threshold: 0.005
- mac_threshold: 20
- missingness_threshold: 1 # non-inclusive

# LD reference panel:
  # Hands-free options:
    # "1kg"             (1000 Genomes phase 3)
    # "1kg_30x"         (1000 Genomes high-coverage 2022 update)
    # "gnomad_1kg+hgdp" (gnomAD v3.1.2 1000 Genomes + Human Genome Diversity Project subset)
  # Or, to specify your own reference panel, provide one of the following:
    # VCF file(s). If multiple files, write filepaths in an R character vector like so: c("file1.vcf", "file2.vcf"). Make sure all files' samples are the same.
    # GDS file.
    # "my_ld", and fill out config.ld if you have pre-computed LD matrices for each locus + for each ancestry.
  # TODO: support multiple GDS files. BCF files. For VCF/BCF, allow samples not to match and do bcftools merge.
#misc_config$ref_panel: "1kg"
#misc_config$ref_panel: "1kg_30x"
- ref_panel: gnomad_1kg+hgdp

# If you chose the "gnomad_1kg_hgdp" reference panel, there are separate Finnish and non-Finnish European ancestries.
# Should Finnish be included in the EUR ancestry?
- gnomad_count_fin_as_eur: false 

# Your reference panel's reference genome.
# If you picked a hands-free option like "1kG", or have pre-computed LD labelled with rsIDs, don't worry about this.
# Examples: "hg19", "grch37", "hg38", "grch38"
- ref_panel_ref_genome: NULL

# If you specified your own reference panel, please specify sample info.
  # sample_info_file: optional, if your VCF/BCF/GDS file doesn't already contain sample ancestry info.
  # sample_id_field: if you provided sample_info_file, what is the name of the ID column?
  # smaple_ancestry_field: what is the name of the ancestry column in your sample info file, or the ancestry field in your VCF/BCF/GDS file(s)?
- sample_info_file: NULL
- sample_id_field: NULL
- sample_ancestry_field: NULL

# Methods for incorporating functional annotations:
  # NULL: don't use annotations
  # (TODO) fgwas
  # (TODO) polyfun
- anno_method: fgwas
