filepath                                               ancestry  chr_col  pos_col  rsid_col  effect_allele_col  other_allele_col  eaf_col  b_col  se_col  p_col
../data/DIAMANTE2022/sumstat/DIAMANTE-EAS.sumstat.txt  EAS       1        2        4         5                  6                 7        8      9       10
../data/DIAMANTE2022/sumstat/DIAMANTE-EUR.sumstat.txt  EUR       1        2        4         5                  6                 7        8      9       10
../data/DIAMANTE2022/sumstat/DIAMANTE-SAS.sumstat.txt  SAS       1        2        4         5                  6                 7        8      9       10

